{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container h-100 pt-5 pb-5">
    <div class="row h-100">
        <div class="col-7 col-md-8 my-auto">
            <h1 class="display-8 logo-font rounded-0 py-3" id="logo_font_text">
                New cool things for your pets just arrived!
            </h1>

            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now!</a>
                </h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <center>Dog Products</center>
                            </h5>
                            <p class="card-text"><center>Find everything that you need for your dog</center></p>
                            <a href="{% url 'specific_products_dog' %}" title="Dogs"><img src="{{MEDIA_URL}}racko.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <center>Cat Products</center>
                            </h5>
                            <p class="card-text"><center>Find everything that you need for your cat</center></p>
                            <a href="{% url 'specific_products_cat' %}" title="Cats"><img src="{{MEDIA_URL}}racko.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 pt-5 pb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <center>Bird Products</center>
                            </h5>
                            <p class="card-text"><center>Find everything that you need for your bird</center></p>
                            <a href="{% url 'specific_products_bird' %}" title="Birds"><img src="{{MEDIA_URL}}racko.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 pt-5 pb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <center>Special Offers</center>
                            </h5>
                            <p class="card-text"><center>Discound deals, Clearances, and more</center></p>
                            <a href="{% url 'specific_products_dealz' %}" title="Dealz"><img src="{{MEDIA_URL}}racko.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}