{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container h-100 pt-5 pb-5">
    <div class="row h-100">
        <div class="col-6 col-md-6 my-auto">
            <h1 class="display-6 rounded-3 py-2 my-2" id="logo_font_text">
                New cool things for your pets just arrived!
            </h1>

            <div class="my-3">
                <h3>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-3 text-uppercase py-1 my-1">Shop Now!</a>
                </h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 pt-2 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Dog Products
                            </h5>
                            <p class="card-text text-center">Find everything that you need for your dog</p>
                            <a href="{% url 'specific_products_dog' %}" title="Dogs"><img src="{{MEDIA_URL}}puppy-pet-photo -front-page.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 pt-2 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Cat Products
                            </h5>
                            <p class="card-text text-center">Find everything that you need for your cat</p>
                            <a href="{% url 'specific_products_cat' %}" title="Cats"><img src="{{MEDIA_URL}}cat-pet-photo-front-page.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 pt-2 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Bird Products
                            </h5>
                            <p class="card-text text-center">Find everything that you need for your bird</p>
                            <a href="{% url 'specific_products_bird' %}" title="Birds"><img src="{{MEDIA_URL}}bird-pet-photo-front-page.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 pt-2 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Special Offers
                            </h5>
                            <p class="card-text text-center">Discound deals, Clearances, and more</p>
                            <a href="{% url 'specific_products_dealz' %}" title="Dealz"><img src="{{MEDIA_URL}}mix-pet-photo-front-page.jpg" class="rounded img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}