<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dog-link">
                <a href="{% url 'products' %}?category=dry_dog_food" class="dropdown-item">Dry Dog Food</a>
                <a href="{% url 'products' %}?category=wet_dog_food" class="dropdown-item">Wet Dog Food</a>
                <a href="{% url 'products' %}?category=dog_treats" class="dropdown-item">Dog Treats</a>
                <a href="{% url 'products' %}?category=dog_toys_training" class="dropdown-item">Dog Toys & Training</a>
                <a href="{% url 'products' %}?category=dog_beds" class="dropdown-item">Dog Beds</a>
                <a href="{% url 'products' %}?category=dog_supplements" class="dropdown-item">Dog Supplements</a>
                <a href="{% url 'products' %}?category=dry_dog_food,wet_dog_food,dog_treats,dog_toys_training,dog_beds,dog_supplements" class="dropdown-item">All Dog</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cat-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cat
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cat-link">
                <a href="{% url 'products' %}?category=dry_cat_food" class="dropdown-item">Dry Cat Food</a>
                <a href="{% url 'products' %}?category=wet_cat_food" class="dropdown-item">Wet Cat Food</a>
                <a href="{% url 'products' %}?category=cat_supplements" class="dropdown-item">Cat Supplements</a>
                <a href="{% url 'products' %}?category=cat_toys" class="dropdown-item">Cat Toys</a>
                <a href="{% url 'products' %}?category=cat_beds" class="dropdown-item">Cat Beds</a>
                <a href="{% url 'products' %}?category=dry_cat_food,wet_cat_food,cat_supplements,cat_toys,cat_beds" class="dropdown-item">All Cat</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="birds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Birds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="birds-link">
                <a href="{% url 'products' %}?category=bird_snacks" class="dropdown-item">Bird Snacks</a>
                <a href="{% url 'products' %}?category=bird_food" class="dropdown-item">Bird Food</a>
                <a href="{% url 'products' %}?category=bird_cages" class="dropdown-item">Bird Cages</a>
                <a href="{% url 'products' %}?category=bird_toys" class="dropdown-item">Bird Toys</a>
                <a href="{% url 'products' %}?category=bird_snacks,bird_food,bird_cages,bird_toys" class="dropdown-item">All Birds</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_items" class="dropdown-item">New Items</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance,new_items" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>