<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dog-link">
                <a href="" class="dropdown-item">Dry Dog Food</a>
                <a href="" class="dropdown-item">Wet Dog Food</a>
                <a href="" class="dropdown-item">Dog Treats</a>
                <a href="" class="dropdown-item">Dog Toys & Training</a>
                <a href="" class="dropdown-item">Dog Beds</a>
                <a href="" class="dropdown-item">Dog Supplements</a>
                <a href="" class="dropdown-item">All Dog</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cat-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cat
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cat-link">
                <a href="" class="dropdown-item">Dry Cat Food</a>
                <a href="" class="dropdown-item">Wet Cat Food</a>
                <a href="" class="dropdown-item">Cat Supplements</a>
                <a href="" class="dropdown-item">Cat Toys</a>
                <a href="" class="dropdown-item">Cat Beds</a>
                <a href="" class="dropdown-item">All Cat</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="aquatic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Aquatic
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="aquatic-link">
                <a href="" class="dropdown-item">Fish Food</a>
                <a href="" class="dropdown-item">Aquariums</a>
                <a href="" class="dropdown-item">Aquarium Equipment</a>
                <a href="" class="dropdown-item">Water Care</a>
                <a href="" class="dropdown-item">Garden Pond</a>
                <a href="" class="dropdown-item">All Aquatic</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Items</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>